.team .container{
    height : 100%;
    display: flex;
    flex-direction: column;
    padding:0px 15px;
    overflow: hidden;

}

.team .container .row{
    display: flex;
    flex-direction: flex-start;
    overflow : visible;
    height: fit-content;
}
