$light-color: #f8f8f8;
$theme: #37517eb7;
$blue : #449dd4;


 .navlinkBar{
    width: 100%;
    height: 100%;
    display: flex;
    //align-items: center;
    justify-content: flex-end;
    padding: 0px 0px 8px 0px;
    list-style-type: none;
    margin-top: 30px;
    overflow:visible;    
  
.nav-link {
      height: 100%;
      padding: 12px 16px;
      cursor: pointer;
      font-size: 16px;
      font-weight: 500;
      //width: fit-content;
      text-decoration: none;
      color:$light-color;

    }
    &:active{
        color:red;
    }
    .nav-item{
      height: 70%;
    }
}