
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
  background-color: red;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}
