// .portfolio-details{
//     padding: 0px;
//     background-color: rgb(223, 222, 245);
//     padding-left: 112px;
//     padding-right: 112px;
// }
// .portfolio-details .section-title{
//     margin: 70px 0px 0px 0px;
//     padding: 30px 0px 20px 0px;
// }
//  .title {    
//     color:black;
//    text-align: start;
// }

// .portfolio-details .section-title .title a{
//     color:rgb(36, 180, 237);
// }
// .title h3{
//     color: rgba(40, 58, 90);
//     text-align: start;
// }

.title {
  padding: 15px 0 0;
  background: #f3f5fa;
  min-height: 40px;
  margin-top: 72px;
}
.title .container{
    display: block;
}
.title .container h3{
    color: #37517e;
    font-size:28px;
    font-weight: 700;
}
.addressTitle{
    display: flex;
    padding: 0px;
    margin: 0px;
    li{
        line-height: 12px;
        margin-right: 12px;
        a{
            color:#47b2e4
        }
    }
}

.portfolio-details {
  padding-top: 40px;
  height: 1000px;
}
.portfolio-details .container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.portfolio-details .container .row{
    height: 100%;
    display: flex;
    flex-direction: row;
}

.portfolio-details .portfolio-details-slider  {
    height: 100%;
    
}
.swiper-slide{
    height: 200px;
}

.portfolio-details .portfolio-details-slider img {
  width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #47b2e4;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #47b2e4;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(55, 81, 126, 0.08);
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0;
}
