.faq-question .slider{

}
.faq-question .slider button{
  border: none;
  background-color: transparent;

}
.cover{
    line-height: 24px;
    align-items: center;
}
.faq-list ul {
  padding: 0;
  list-style: none;
}

 .faq-list li+li {
  margin-top: 15px;
}

 .faq-list li {
  padding: 10px;
  background: #fff;
  border-radius: 4px;
  position: relative;
  display: block;
    color:#37517e
}

 .faq-list a {
  display: block;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  //padding: 0 30px;
  outline: none;
  cursor: pointer;
  justify-content: space-between;
}


.mark{
    font-size: 23px;
    color: #47b2e4;
    margin-right: 10px;
    padding:0px
    
}







 .faq-list .icon-help {
  font-size: 24px;
  position: absolute;
  right: 0;
  left: 20px;
  color: #47b2e4;
}

 .faq-list .icon-show,
 .faq-list .icon-close {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

 .faq-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
}

 .faq-list .icon-show {
  display: none;
}

 .faq-list a.collapsed {
  color: #37517e;
  transition: 0.3s;
}

 .faq-list a.collapsed:hover {
  color: #47b2e4;
}

 .faq-list a.collapsed .icon-show {
  display: inline-block;
}

 .faq-list a.collapsed .icon-close {
  display: none;
}

@media (max-width: 991px) {
   .faq-list {
    padding: 0;
  }
}
