.feature .card{
    background-color: transparent;
    border: 0px transparent;
    align-items: stretch;
    display: flex;
    padding:0px 20px;
    width: 100%;
    margin:0px ;
    
}
.feature .card .icon-box {
  
  padding: 50px 20px 30px;
  transition: all ease-in-out 0.4s;
  background: #fff;
  border-radius: 5px;
  height:90%;
  text-align: center;
  
}

 .feature .icon-box .icon {
  margin-bottom: 30px;
  width: fit-content;



}

.feature .icon-box .icon img {
  transition: 0.3s;
  
  position: relative;
  
}

.feature .icon-box h4 {
  font-weight: 700;
  margin: 0px 15px 25px 0px;
  font-size: 18px;
  text-align: center;

}

.feature .icon-box h4 a {
  color:black;
  transition: ease-in-out 0.3s;
}

.feature .icon-box p {
  line-height: 18.75px;
  font-size: 16px;
  margin-bottom: 0;
  text-align: justify;
}

.feature .icon-box:hover {
  //transform: translateY(-10px);
  transform:scale(1.1);
}

.feature .card .button{
  border-radius: 7px;
}



@media(max-width : 1200px){
 
 .feature .card .icon-box {
  padding: 50px;
}
 .feature .icon-box .icon img{
  padding: 0px 30px;
}
}


@media(max-width : 991px){
 
 .feature .card .icon-box {
  
  padding: 50px 70px;
  text-align: center;
  
}
 .feature .icon-box .icon {
      padding: 0px 100px;
  }
}


@media(max-width : 768px){
 
 .feature .card .icon-box {
     padding: 50px;
  }
 .feature .icon-box .icon {
      padding: 0px ;
  }
}