.why-us .content {
  max-height: 100%;
  padding: 40px 100px 0 100px;
}
.whyUsTextBlock{
  padding: 0px 100px;
}

.why-us-text{
  display:flex;
  flex-direction: column;
}

.why-us .content h3 {
  font-weight: 400;
  font-size: 34px;
  color: #37517e;
}

.why-us .content h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 5px;
}

.why-us .content p {
  font-size: 15px;
  color: #848484;
}

.why-us .img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}


.img-holder{
  align-items: stretch;
}


.container-fluid{
  //height : 600px;
}
.row-container{
  height : 650px;
  display: flex;
  flex-direction: row;
}
.why-us-img{
  height: 100%;
  width: 100%;
  padding : 100px 0px
}
.img{
  padding: 0px;
  
}
.accordion-list{
  padding-bottom: 74px;
}

@media (max-width: 1024px) {

  .why-us .content,
  .why-us .accordion-list {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 992px) {
  .why-us .img {
    min-height: 400px;
  }

  .why-us .content {
    padding-top: 30px;
  }

  .why-us .accordion-list {
    padding-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .why-us .img {
    min-height: 200px;
  }
}
