$light-color: #f8f8f8;
$theme: #37517eb7;
$blue : #449dd4;



.dropdown {
  float: left;
  overflow: visible;
  position: relative;
  display: block;

}
.dropdown .nav-link {
  font-size: 16px;
  border: none;
  outline: none;
  color: $light-color;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  font-size: 18px;
  font-weight: 600;
  
}
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
     
}

/* Links inside the dropdown */
.dropdown-menu a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-menu:hover {
  background-color: $light-color;
  
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-menu:hover {
  display: block;
  border-radius: 10px;
  z-index: 1000;
}
.dropdown-item:hover{
  color: $blue;
}

#navbarDropdown{
      box-sizing: border-box;
      -webkit-box-direction: normal;
      white-space: nowrap;
      padding: 12px 16px;
      font-size: 16px;
      font-weight: 500;
      //width: fit-content;
      text-decoration: none;
      color:$light-color;


}
  
.nav-link {
      height: 100%;
      padding: 12px 16px;
      cursor: pointer;
      font-size: 16px;
      font-weight: 500;
      //width: fit-content;
      text-decoration: none;
      color:$light-color;

    }