
.footer-top {
  //padding: 20px 0 5px 0;
  background: #457B9D;
  height: fit-content;
}
.footer-top .container {
    display: flex;
    flex-direction: row;
    height: fit-content;
    justify-content: inline-block;

    
}
.footer-top .container .row{
    display: flex;
    flex-direction: row;
    height: fit-content;
    
    
}

.footer-top .footer-contact {
  display: flex;
  flex-direction: column;
  
  //justify-content: center;
  //align-content: center;
  
}
.footer-top .footer-contact .logo{
  width: 190px;
  transform: scale(1.3);
}

.footer-top .footer-contact h3 {
  font-size: 28px;
  margin: 0 0 10px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 600;
  color: #37517e;
}

 .footer-top .footer-contact p {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 0;
  width: 85%;
  //font-family: "Jost", sans-serif;
  color:rgb(255,255,255, 0.65);
}

 .footer-top h4 {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  position: relative;
  padding:0px 0px 12px 40px;
  width: 100%;
}

.footer-top .footer-explore{
  padding: 30px;
}
 .footer-top .explore{
 // column-count: 2;
 display: flex;
 flex-direction: row;
 //margin-top: 30px ;

 }

 .footer-top .links a{
  color: #fff;
 }
 .footer-top .footer-links {
  //margin-bottom: 20px;
  padding: 20px 0px 0px;
  width: 100%;
}
 .footer-top .footer-links .info{
  //background-color: rebeccapurple;
  width: 100%;
  padding : 0px 40px;
   border-left: 1px solid #fff;
   border-right: 1px solid #fff;
  
 }

 .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

 .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #47b2e4;
  font-size: 18px;
  line-height: 1;
}

//  .footer-top .footer-links ul li {
//   padding: 10px 0;
//   display: flex;
//   align-items: center;
// }

//  .footer-top .footer-links ul li:first-child {
//   padding-top: 0;
// }

//  .footer-top .footer-links ul a {
//   color: #777777;
//   transition: 0.3s;
//   display: inline-block;
//   line-height: 1;
// }

//  .footer-top .footer-links ul a:hover {
//   text-decoration: none;
//   color: #47b2e4;
// }
 
 .footer-top .social-links a {
  font-size: 40px;
  display: inline-block;
  background: transparent;
  color: #fff;
  line-height: 1;
  //padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  // width: 36px;
  // height: 36px;
  transition: 0.3s;
}

 .footer-top .social-links a:hover {
  background: #209dd8;
  color: #fff;
  text-decoration: none;
}



@media(max-width:991px){
.footer-top .footer-contact {
 display: flex;
 flex-direction: row;
.info{
  padding-top: 60px;
}
.social-links{
  display: flex;
  justify-content: end;
  padding: 0px 60px;
  
}
}

 .footer-top .footer-links {
  //margin-bottom: 20px;
  padding: 0px;
  margin: 0px;
  width: 70%;
  
}
.footer-top .container .row{
    display: flex;
    flex-direction: row;
    height: fit-content;
    
    
}
.footer-top .footer-links .info{
  border-left: none;
}

}





@media(max-width:786px){
.footer-top .footer-contact {
  display: flex;
  flex-direction: row;
.info{
  padding-top: 60px;
}
.social-links{
  display: flex;
  justify-content: end;
  padding: 0px 60px;
  
}
}

 .footer-top .footer-links {
  //margin-bottom: 20px;
  padding: 0px;
  margin: 0px;
  width: 70%;
  
}
.footer-top .container .row{
    display: flex;
    flex-direction: row;
    height: fit-content;
    justify-content: center;  
    
}
.footer-top .footer-links .info{
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-right: none;
  padding-bottom: 20px;
  margin-top: 20px;
 
}

.footer-top .footer-contact {
 display: flex;
 flex-direction: row;
.info{
  padding-top: 30px;
}

}
.footer-explore h4{
  text-align: center;
  width : 80%
}
.footer-explore .explore{
  display: flex;
  justify-content: center;
}
.footer-explore .explore .links{
  width : 30%;
  //background-color: red;
  padding-left: 0px;
}



}