.portfolio .container{
  display: flex;
  flex-direction: column;
  height: fit-content;
  align-items: stretch;
  
}

.portfolio-container{
  height: 100%;
  width: 100%;
  padding-bottom: 20px;
  column-count: 3;
  column-gap: 0px;
  column-width: 220px;
  
  
}

.portfolio #portfolio-flters {
  list-style: none;
  margin-bottom: 20px;
  display:flex;
  justify-content: center;
  

}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  margin: 10px 5px;
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  color: #444444;
  transition: all 0.3s;
  padding: 8px 20px;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
}
  .portfolio #portfolio-flters li .active{
    background: #47b2e4;
    color: #fff;  
  }


.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  background: #47b2e4;
  color: #fff;
}

@media(max-width:991px){
  .portfolio-container{
  column-count: 2;
}
}

@media(max-width:768px){
  .portfolio-container{
  column-count: 1;
}
}