.contact .container{
    display: flex;
    flex-direction: column;
    padding :0px ;
    justify-content: center;
    box-sizing: border-box;
}

.contact .container .section-title{
  max-width: 100%;

  h2{
    color:#000;
    text-transform: none;
    font-weight: 900;
  }
  p{
    color: rgb(0,0,0,0.65);
    font-weight: 600;
    font-size: 21px;
    padding: 0px 45px;

  }
}


.contact .section-title h2::before ,
.contact .section-title h2::after {
  content: "";
  display: none;
}




.contact .container .row{
  position: relative;
  left :15px;
  
}

.contact .container #detail{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

// .contact .info {
//   border-top: 3px solid #47b2e4;
//   border-bottom: 3px solid #47b2e4;
//   padding: 30px;
//   background: #fff;
//   width: 100%;
//   box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);

//   //height: fit-content;
  
// }
.contact .aboutUser,
.contact .infoHolder{
  display: flex;
  align-items: stretch;
}

.contact .aboutUser h3{
  width : 70%;
  border-bottom: 0.8px solid black;
  margin-bottom: 30px;
}


.contact .php-email-form {
  width: 170%;
  padding: 30px;
  background: #fff;
  // border-top: 3px solid #47b2e4;
  // border-bottom: 3px solid #47b2e4;
  //box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .php-email-form .form-group {
  padding: 0px 10px 8px 0px;
  
}

.contact .php-email-form .button{
  font-size: 20px;
  padding:5px;
}
.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form .form-group {
  margin-bottom: 20px;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border:1.5px solid #457B9D;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

// .contact .php-email-form button[type=submit] {
//   background: #47b2e4;
//   border: 0;
//   padding: 12px 34px;
//   color: #fff;
//   transition: 0.4s;
//   border-radius: 50px;
// }

.contact .php-email-form button[type=submit]:hover {
  background: #209dd8;
}

.contact .php-email-form .agree{
  display: flex;
  align-items: center;
  font-size: 16px;
  input{
    margin-right:10px ;
    width: 20px;
    border-radius: 20px !important;
  }
}



@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}








.contact #detail{
  justify-content: space-evenly;
  display: flex;
  justify-content: stretch;
}
.contact .img-holder {
  position: relative;
  padding: 20px;
  
  
}
.contact .img-holder .display{
  
  box-shadow: 5px 1px 5px rgb(214, 214, 214);
  border-radius: 30px;
  
}
