$light-color: #f8f8f8;
//$theme: rgb(70, 105, 145);
$theme :rgb(55, 81, 126);
$blue : #449dd4;
$skyblue : #007ac6;

.button{
    border-radius: 25px;
    width : 120px;
    margin: 0px 0px 0px 20px;
    padding: 5px 5px;
    font-size: 16px;
    font-weight: 500;
    transition-duration: 0.2s;
    border: 3px solid $blue;
    transition-duration: 0.4s;  
    


    // .button:hover {
    //     background-color: $blue;
    // }
    &.transparent {
        background-color: transparent;
        color: $light-color;

    &:hover {
      background-color: $blue;
      color:$light-color;
      border: none;
    }
  }

  &.inverted {
    background-color: $blue;
    color: $light-color;
    

    &:hover {
      background-color: $skyblue ;
      color: white;
      border: none;
    }
  }
}
