.cta .container{
    display: flex;
    justify-content:stretch;    
    justify-content: space-around;
    height: 100%;
    padding: 0px;
    
}
.cta .container .row{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.cta {
  background: linear-gradient(rgba(40, 58, 90, 0.9), rgba(40, 58, 90, 0.9)), url("../../brand/assets/img/cta-bg.jpg") fixed center center;
  background-size: cover;
  padding: 120px 0px;
}

.cta h3 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
  text-align: left;
}

.cta p {
  color: #fff;
}
.cta .container .row .cta-button-holder{
 display: flex;
  align-items: center;
  text-align: center;
  float: right;
}

.cta .cta-btn {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 16px 40px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}

.cta .cta-btn:hover {
  background: #47b2e4;
  border: 2px solid #47b2e4;
}


@media (max-width: 991px) {
   .cta {
    background-attachment: scroll;
  }

  .cta .cta-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .cta p{
    text-align: center;
  }


}
